* {
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

body {
    height: 100vh;
    width: 95vw;
    background-color: #F4F0E8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > img {
    width: 80px;
    height: 80px;
    border-radius: 15%;
}